<div class='content-box'>
    <h2>Add a Menu Item</h2>
    <form (ngSubmit) = 'onSubmit()'>
        <div>
            <label for='id'>
                Id:   
            </label>
            <input id='id' name= 'id' type='text' required [(ngModel)] = 'this.menu.id'/>
        </div>
        <div>
            <label for='name'>
                Name:   
            </label>
            <input id='name' name= 'name' type='text' required [(ngModel)] = 'this.menu.name'/>
        </div>
        <div>
            <label for='description'>
                Item Description:   
            </label>
            <input id='description' name= 'description' type='text' required [(ngModel)] = 'this.menu.description'/>
        </div>
        <div>
            <label for='price'>
                Price:   
            </label>
            <input id='price' name= 'price' type='text' required [(ngModel)] = 'this.menu.price'/>
        </div>
        <button type = 'submit'>Add Item</button>
    </form>
    <!--<app-add-data-form buttonText = 'Add Food Item' (onSubmit) = 'onSubmit()'></app-add-data-form>-->
</div>
